* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./fonts/RobotoCondensed-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

h1 {
  /* font-family: "Roboto Condensed"; */
  font-family: "Space Grotesk";
  margin: 1%;
}


.header {
  overflow: hidden;
  width: 100vw;
  height: 10vh;
  background-color: hsl(0, 0%, 10%);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#filler {
  flex-grow: 1;
  /* outline: 1px solid white; */
}
img {
  height: 100%;
  width: 100%;
}
.social-buttons {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-buttons li {
  max-height: 50px;
  max-width: 50px;
}


.maincontent {
  width: 100vw;
  height: 90vh;
  background-color: rgb(128, 128, 128);
}